@import "_variables";

.row__box{
    display: flex;
    gap: 2.2em;
    padding-top: 50px;
    padding-bottom: 50px;

    .col-md-2{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        background-color: #fff;
        height: 100%;
        width: 100%;
        padding-right: 10px;
        padding-top: 20px;
        overflow: none;
        overflow-y: scroll;
        overflow-x: hidden;
        display: none;
        @media (min-width: $breakpoint-tablet) {
            overflow: initial !important;
            position:relative;
            max-width: 230px;
            padding-top: 0px;
            display: block;
        }

        .break__box{
            display: block;
            @media (min-width: $breakpoint-tablet) {
                display: none;
            }
        }
    }

    .col-md-10{
        padding-right: 0px;
        padding-left: 0px;
        @media (min-width: $breakpoint-tablet) {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .catalog__search__input{
        background: #f3f3f4;
        height: 48px;
        display: flex;
        gap:1em;
        border-radius: 8px;
        align-items: center;
        padding-right: 25px;
        padding-left: 20px;

        input {
            flex: 1;
            background: none;
            height: auto;
            border: none;

            &:focus {
                outline: none;
            }
        }
    }

    .news_content{
        margin-top: -50px;
        @media (min-width: $breakpoint-tablet) {
             margin-top: initial;
        }
        .news__item{
            padding-left: 0px;
            @media (min-width: $breakpoint-tablet) {
             padding-left: 15px;
            }
        }
    }

}
.page__outline__input{
    min-width: 210px;
  height: 48px;
  padding: 11px 21.3px 11px 22px;
  border-radius: 8px;
  border: solid 1px $on-background;
  text-align: center;

  display: none;

  @media(min-width:$breakpoint-tablet){
    display: flex;
  }
}

.c__title{
    font-family: $font-stack-bold;
    font-size: 20px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
}

.tag__box{

    padding-top: 30px;
    padding-bottom: 10px;


    .tag__list{
        display: flex;
        align-items: center;
         flex-wrap: wrap;
         gap: 0.8em;

        .tag__main__box {
            display: flex;
            align-items: center;
            gap: 1em;
            min-width: 91px;
        height: 32px;
        border-radius: 18px;
        border: 1px solid $secondary-variant;
        cursor: pointer;

        div{
            display: flex;
            align-items: center;
            height: 100%;
            gap: 0.5em;
            padding-left: 5px;
            padding-right: 5px;
            span{
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
            }
        }
        }
    }
}


.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid $secondary-variant;
      border-radius: 5px;
    }

    // Box hover
    &:hover + label:before {
      background: $primary;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
      background: $primary;
    }

    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  .unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li{
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }


  .dropdown__box{
      .menu{
          display: flex;
          align-items: center;
          gap: 0.3em;
          cursor: pointer;
          .active{

            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $on-background;
          }
      }
  }


  .mobile__filter__title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 12px;
      @media (min-width:$breakpoint-tablet){
        display: none;
   }
      h4{
          font-family: $font-stack-bold;
          font-size: 30px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
        color: $on-background;
      }

      span{
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $on-surface;
      }
  }

  .close__button{
    width: 40px;
    height: 40px;
    background: $primary;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 20px;
    margin-bottom: 30px;

    @media (min-width:$breakpoint-tablet){
        display: none;
        margin-bottom: 0px;
   }
  }

  .mobile__button{
    height: 48px;
    display: flex;
    width: 100%;
    background: $primary;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-right: 10px;

    @media (min-width:$breakpoint-tablet){
         display: none;
    }
}

.filter__main__box{
    display: flex;
    align-items: center;
    gap: 1em;

    .mobile{
        display:flex;
        @media (min-width:$breakpoint-tablet){
            display: none;
       }
        .active{
            display: flex;
            width: 20px;
            height: 20px;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background: $primary;
            color: #fff;
            font-size: 14px;
            font-family: $font-stack-regular;
        }
    }
}
