.manu__wrapper{
    width: 45%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    gap:0.5em;

    p.manu__title{
        font-family: BrandonGrotesque;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 43px;
        letter-spacing: normal;
        color: $primary;
    }
    span{
        font-family: BrandonGrotesque;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $on-background;
    }
    p.manu__context{
        font-family: BrandonGrotesque;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $on-background;
    }
    input{
        height: 48px;
        margin: 20px 0;
        padding: 12px 12px 12px 16px;
        opacity: 0.1;
        border-radius: 8px;
        background-color: $secondary;
    }
    textarea{
        height: 142px;
        margin: 20px 0 0;
        padding: 12px 12px 59px 16px;
        opacity: 0.1;
        border-radius: 8px;
        background-color: $secondary;
    }
    .btn__area{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0;
        button{
            width: 198px;
            height: 50px;
            padding: 12px 20px;
            border-radius: 8px;
            background-color: $primary;
            align-self: flex-end;
            border:none;
            outline: none;
            color:$surface
        }
    }
    .msg__context{
        display: flex;
        justify-content: flex-start;
    }

}