.reset-password{
	background: $yellow url('/img/bg-pattern@2x.png');
	background-size: 50%;
	height: 100vh;
	overflow: hidden;
	& *{
		font-family: 'metropolis';
		font-weight: 700;
	}
	.login-box-body{
		background-color: transparent;
		padding: 0;
		.login-box-msg{
			color: #ffffff;
			font-size: 20px;
			font-weight: 600;
		}
		input{
			border: none;
			line-height: 50px;
			height: auto;
			padding: 0px 20px;
			border-radius: 10px;
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 20px;
		}
		button{
			border: none;
			background-color: $orange;
			line-height: 50px;
			display: inline-block;
			padding: 0;
			border-radius: 10px;
			font-size: 19px;
			margin-top: 10px;
			outline: none;
			&:active{
				outline: none;
				background-color: $orange;
			}
		}
	}
	.help-block{
		position: relative;
		top: -10px;
	}
}

body{
	margin: 0;
}

.bg-40{
	background-color: #eef1f4;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.px-view {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

.py-view {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.max-w-sm {
    max-width: 30rem;
}

.font-sans {
    font-family: Nunito,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
}

.text-center {
    text-align: center;
}

.bg-white {
    background-color: #ffffff;
}

.max-w-login {
    max-width: 25rem;
}

.rounded-lg {
    border-radius: .5rem;
}

.p-8 {
    padding: 2rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.font-medium, .font-normal {
    font-weight: 400;
}

.text-2xl {
    font-size: 1.5rem;
}

.block {
    display: block;
}

.mb-2 {
    margin-bottom: .5rem;
}

.form-input-bordered {
	background-color: #ffffff;
	padding-left: .75rem;
	padding-right: .75rem;
	border-radius: .5rem;
	border-width: 1px;
}

.form-control {
	height: 2.25rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
}

.btn-default {
    height: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 2.25rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

.btn-primary {
    background-color: #4099de;
    color: #ffffff;
}

.btn-primary:not([disabled]):not(.btn-disabled):hover {
    background-color: #297ec0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}