// Body
$body-bg: #f8fafc;

// Typography
/*default version*/

$font-stack-regular:'Josefin Sans', sans-serif;
$font-stack-bold:'Josefin Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// $primary: #f66D9b;



$regular-font:'Lato', 'Josefin Sans', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;

$secondary:#898394;
$red: #e3342f;
$orange: #ff8c1e;
$yellow: #fcb41f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$primary: #f66757;
$secondary-variant: #e2e0e6;
$background: #f3f3f3;
$error: #f13d29;
$secondary: #898394;
$primary-variant: #fa8072;
$on-background: #141415;
$surface: #ffffff;
$on-primary: #ffffff;
$on-error: #ffffff;
$on-primary-variant: #ffffff;
$on-secondary: #ffffff;
$on-secondary-variant: #898394;
$on-surface: #898394;
$secondary-variant-2: #6c6577;
$background-pink: #ffe6e3;
$charcoal-grey: #312e35;
$colors-white-12: rgba(255, 255, 255, 0.16);
$black: #312e35;
$colors-blue: #75a8e8;
$colors-green: #6dc4ad;
$colors-pink: #e293ca;
$colors-orange: #fc9e7d;

$on-background: #141415;
$on-surface: #898394;
$on-secondary-variant: #898394;
$surface:#ffffff;
$breakpoint-small-mobile:320px;
$breakpoint-small-mobile2: 375px;
$breakpoint-tablet:768px;
$breakpoint-large-desktop: 1920px;
