// Body
$body-bg: #f8fafc;
@import url('http://fonts.cdnfonts.com/css/brandon-grotesque-regular');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
// Typography
$font-family-sans-serif: 'Brandon Grotesque Light', sans-serif;
$font-stack-regular:'Brandon Grotesque Light', sans-serif;
$font-stack-medium:'Brandon Grotesque Medium', sans-serif;
$font-stack-bold:'Brandon Grotesque Black', sans-serif;

$font-courgette:'Courgette', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$primary: #f66D9b;
$secondary:#898394;
$red: #e3342f;
$orange: #ff8c1e;
$yellow: #fcb41f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
 $_primary: #f66757;
 $primary: #f66757;
 $background: #f3f3f3;
$on-background: #141415;
$on-surface: #898394;
$secondary-variant: #e2e0e6;
$surface:#ffffff;
$background-pink: #ffe6e3;
$primary-variant: #fa8072;
$colors-secondary-10: rgba(137, 131, 148, 0.1);
$colors-overlay: rgba(20, 20, 21, 0.4);
$colors-overlay-2: rgba(108, 101, 119, 0.4);
$colors-white-12: rgba(255, 255, 255, 0.16);
$colors-blue: #75a8e8;
$colors-green: #6dc4ad;
$colors-pink: #e293ca;
$colors-orange: #fc9e7d;

$form-background-color:#f3f3f4;

$breakpoint-small-mobile:320px;
$breakpoint-small-mobile-360: 360px;
$breakpoint-small-mobile2: 375px;
$breakpoint-mobile: 411px;
$breakpoint-tablet:768px;
$breakpoint-1024:1024px;
$breakpoint-1280:1280px;
$breakpoint-1366:1366px;
$breakpoint-1440:1440px;
$breakpoint-1680:1680px;
$breakpoint-large-desktop: 1920px;
