@import "_variables";

.write__form__container{
    padding:30px 0;
    width:80%;;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap: wrap;
    .write__form__sidebar{
        width: 27%;
        .sidebar__content{
            li{
                list-style:none;
                a{
                    font-family: BrandonGrotesque;
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 34px;
                    letter-spacing: normal;
                    color:#898394 ;
                    text-decoration: none;
                    p.icon{
                        background-color: $background-pink ;
                        color: $on-surface ;
                        width: 34px ;
                        border-radius: 20px;
                        text-align: center;
                        height: 34px;
                        display:inline-block;
                        margin-bottom: 2rem ;
                    }
                    span.list{
                        height: 26px;
                        margin: 3px 0 3px 20px;
                        font-family: BrandonGrotesque;
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        display:inline-block;
                    }
                }
            }
        }
      
    }
    .write__form__content{
        .right__main__content{
            display: flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content:space-between;
            gap:1.5em;
            .right__main__content__title{
                p{

                    font-family: BrandonGrotesque;
                    font-size: 38px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                }
            }
            .right__main__content__context{
                .context{
                     width: 672px;
                }
            }
            .right__main__content__btn{
                width: 214px;
                height: 48px;
                border-radius: 8px;
                text-align: center;
                background-color: $_primary;
                display: flex;
                align-self: flex-end;
                justify-content: center;
                margin-right: 50px;
                p{
                    font-family: BrandonGrotesque;
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 48px;
                    letter-spacing: normal;
                    text-align: center;
                    color:$surface;
                }
  
            }
        }
    }
}

