@import "_variables";

    .write__form__sidebar{
        min-width: 27%;
        .sidebar__content{

            li.active{
                list-style-type: none;
                a{
                    color: $background-pink;
                    p.icon{
                        color:$primary;
                        background-color: $background-pink;
                    }
                    span.list{
                        color:$primary;
                        font-weight: bold;
                    }
                }
            }
        }

    }
    .write__form__content{
        width: 69%;
        @media(max-width:426px){
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
        }
        .right__main__content{
            display: flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content:space-between;
            gap:1.5em;
            .first_title{
                @media(min-width:426px){
                    display: none;
                }
            }
            .page__line{
                @media(min-width:426px){
                    display: none;
                }
            }
            .right__main__content__title{
                p{

                    font-family: $font-stack-bold;
                    font-size: 38px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                }
            }
            .right__main__content__context{
                .context{
                     width: 100%;
                     @media(max-width: $breakpoint-mobile){
                         width :100%;
                     }
                }
            }
            .right__main__content__btn{
                width: 214px;
                height: 48px;
                border-radius: 8px;
                text-align: center;
                background-color: $_primary;
                display: flex;
                align-self: flex-end;
                justify-content: center;
                cursor: pointer;
                p{

                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 48px;
                    letter-spacing: normal;
                    text-align: center;
                    color:$surface;
                }

            }
        }
    }


.nav-pills {
    .nav-link {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #141415;
        margin-right: none !important;
        border-radius: 0px;
        border: none !important;
        gap: none;
    }
}

.writers_side__menu{
    @media(max-width:426px){
        display: none;
    }
    display: flex;
    flex-direction: column;

    a{
        display: flex !important;
        align-items: center !important;
        gap: 1.2em !important;

        p{
            width: 34px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:$background;
            border-radius: 100%;
            color: $on-surface;
            margin-top: 15px;
        }

        span{
            color: $on-surface;
        }

    }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background:none !important;
    color: $primary !important;

    .active{
        background:$primary;
        color: #fff;
    }

    span{
        color: $primary !important;
    }
}

// @include("partial.writeform.content")
